.c-drop-area {
  margin: 10% auto;
  width: 80%;
  height: 80%;
  background: black;
  color: var(--light-color);
  border: solid 5px var(--light-color);
  font-size: var(--font-size);
  font-family: sans-serif;
}

.c-drop-area::before {
  content: 'Drop images here...';
}

.c-drop-area--active {
  background-color: pink;
}
