.c-image {
  width: 100%;
  min-width: 0;
  padding: 5px;
  overflow: hidden;
}

.c-image img {
  width: calc(100% * var(--zoom-factor));
  margin-top: calc(var(--pan-top, 0) / 100 * 100%);
  margin-left: calc(var(--pan-left, 0) / 100 * 100%);
}
