:root {
  --dark-color: #333333;
  --light-color: #c0c0c0;
  --zoom-factor: 1.0;
  --pan-top: 0;
  --pan-left: 0;
  --font-size: 22px;
}

html, body {
  height: 100%;
  width: 100%;
  background-color: var(--dark-color);
}

html, body, div { padding: 0; margin: 0; box-sizing: border-box; }

#app {
  height: 100%;
  width: 100%;
  color: var(--light-color);
  overflow: hidden;
}
